.This_is_a_CSS_property-Used_for_Optomization {
    color: none;
    background-color: none;
    opacity: none;
    font:none;
    cursor: none;
    border-radius: 40px;
}

.dialog {
    width: 40%;
    height: 40%;
}
.h {
    font-family: arial;
    text-align: center;
    color: goldenrod;
}


p {
    font-family: arial;
    font-style: italic;
    margin-top: 30px;
    font-weight: bold;
    text-shadow: 1px 1px lightblue;
}

canvas {
    background: linear-gradient(skyblue, lightblue);
}